*{
    box-sizing: border-box;
    }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    background-color: #ffffc7;
    margin: 0;
    min-height: 100vh;
    }

.point {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: blue;
}

h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: rgb(82, 13, 146);
    padding-top: 50px;
    padding-bottom: 50px;
}
#carre{
    margin: auto;
    width: 300px;
    height: 150px;
    background-color: #FFD988;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 3px grey;
}

.lancer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 200px;
    width: 500px;
    background-color: #FFD988;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 3px 3px grey;
}
#number{
    display: flex;
    flex-direction: column;
}

h4{
    color: rgb(82, 13, 146);
    padding-bottom: 1rem;
}
.questions-container{
    justify-content: center;
    height: 440px;
    width: 600px;
    max-width: 100%;
    overflow: hidden;
    background-color: #FFD988;
    margin-top: 30px;
    box-shadow: 3px 3px 3px grey; 
    border-radius: 10px; 
    padding: 1.5rem;
    }

p #question{
    margin: 0;
}
ul{
   
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    }
ul li{
    font-size: 1rem;
    margin: 1rem 0;
}   

ul li label{
    cursor: pointer;
}

#timer {
    text-align: center;
    position:fixed;
    color: blueviolet;
    width:40px;
    height:40px;
    background-color: #ffffc7;
    border-radius: 15px;
   
}
.valider{
    text-align: center;
    padding: auto;
}
button{
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    padding: 0.9rem;
    font-size: 1.5rem;
    
}

button:hover{
    background-color: rgb(243, 148, 7);
}


button:focus {
    background-color: rgb(104, 68, 138);
    outline: none;
}

h2{
    padding: 1rem;
    text-align: center;
    margin: 0;
    color: rgb(82, 13, 146);
}

#quiz{
    display: none;
    margin: auto;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    text-align: center;
    

}
.center button{
    margin: auto;
   
  }